body {
  font-family: Arial, sans-serif;
  background-color: #f3e6ff; /* Светло-фиолетовый фон */
  color: #4b3f9f; /* Темно-фиолетовый текст */
}

#questionArea {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff; /* Белый фон для области вопросов */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 20px;
}

.question-text {
  font-size: 20px;
  font-weight: bold;
}

.answers {
  display: flex;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.answer {
  background-color: #d8c3e5; /* Светло-фиолетовый фон для ответов */
  border: 2px solid #b39cd0; /* Рамка чуть темнее */
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.answer:hover {
  transform: scale(1.05); /* Увеличение при наведении */
}

.fade-out {
  transform: translateY(100%);
  opacity: 0;
}

.correct-icon {
  color: #4caf50; /* Зеленая галочка */
  margin-right: 10px;
}

.wrong-icon {
  color: #f44336; /* Красный крестик */
  margin-right: 10px;
}

.explanation {
  margin-top: 10px;
  font-style: italic;
  color: #7b61a1; /* Более светлый фиолетовый цвет для комментариев */
}

button {
  background-color: #8e7cc3; /* Светло-фиолетовая кнопка */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:disabled {
  background-color: #d8c3e5; /* Светло-серый при отключенной кнопке */
  cursor: not-allowed;
}

#message,
#stats {
  margin-top: 20px;
  font-size: 18px;
  color: #4b3f9f; /* Темно-фиолетовый цвет для сообщений */
}
